#team-tasks{
    box-sizing: border-box;
    margin:2em;
  }

  #team-tasks h3{
   font-weight:bold;
  }

  #team-tasks #this-month .team-tasks-flex, #team-tasks #next-month .team-tasks-flex{
    display:flex;
    align-items:center;
  }


  #team-tasks #this-month .team-tasks-flex :nth-child(1){
    color:#66FCF1;
  }

  #team-tasks #next-month .team-tasks-flex :nth-child(1){
    color:#B983E4;
  }


  #team-tasks #this-month .team-tasks-flex :nth-child(1),
  #team-tasks #next-month .team-tasks-flex :nth-child(1){
  margin-right:10em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(2),
  #team-tasks #next-month .team-tasks-flex :nth-child(2){
     margin-right:2.4em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(3),
  #team-tasks #next-month .team-tasks-flex :nth-child(3){
    margin-right:5.2em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(4),
  #team-tasks #next-month .team-tasks-flex :nth-child(4){
     margin-right:5.3em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(5),
  #team-tasks #next-month .team-tasks-flex :nth-child(5){
    margin-right:4.6em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(6),
  #team-tasks #next-month .team-tasks-flex :nth-child(6){
    margin-right:7em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(7),
  #team-tasks #next-month .team-tasks-flex :nth-child(7){
    margin-right:3.7em;
  }

  #team-tasks #this-month .team-tasks-flex :nth-child(2), #team-tasks #this-month .team-tasks-flex :nth-child(3), #team-tasks #this-month .team-tasks-flex :nth-child(4), #team-tasks #this-month .team-tasks-flex :nth-child(5),  #team-tasks #this-month .team-tasks-flex :nth-child(6), #team-tasks #this-month .team-tasks-flex :nth-child(7), #team-tasks #next-month .team-tasks-flex :nth-child(2), #team-tasks #next-month .team-tasks-flex :nth-child(3), #team-tasks #next-month .team-tasks-flex :nth-child(4), #team-tasks #next-month .team-tasks-flex :nth-child(5),  #team-tasks #next-month .team-tasks-flex :nth-child(6), #team-tasks #next-month .team-tasks-flex :nth-child(7){
    font-size:1em;
  }



  #team-tasks #this-month .team-tasks-grid, #team-tasks #next-month .team-tasks-grid{
    display: grid;
    grid-template-columns: 20em 3em 8em 8em 8em 8em 12em 1.5em;
    grid-gap: 0.1em;
  }

  #team-tasks #this-month .team-tasks-grid div, #team-tasks #next-month .team-tasks-grid div{
    background-color: #444;
    color: #fff;
    margin-bottom:0.2em;
    font-size:0.8em;
    padding:1em;
  }

  #team-tasks #this-month .team-tasks-grid div:nth-child(2), #team-tasks #next-month .team-tasks-grid div:nth-child(2),#team-tasks #this-month .team-tasks-grid div:nth-child(4), #team-tasks #next-month .team-tasks-grid div:nth-child(4){
    margin-left:0.01em;
  }

  /*This is just for giving the done grid cells a green color*/
  #team-tasks #this-month > :nth-child(2) div:nth-child(3), #team-tasks #this-month > :nth-child(2) div:nth-child(4), #team-tasks #this-month > :nth-child(2) div:nth-child(5),#team-tasks #this-month > :nth-child(3) div:nth-child(3), #team-tasks #this-month > :nth-child(3) div:nth-child(4), #team-tasks #this-month > :nth-child(4) div:nth-child(3), #team-tasks #next-month > :nth-child(2) div:nth-child(3), #team-tasks #next-month > :nth-child(2) div:nth-child(4), #team-tasks #next-month > :nth-child(3) div:nth-child(3){
  background-color:#02CA72;
  }

  /*This is just for giving the working on it grid cells a orange color*/
  #team-tasks #this-month > :nth-child(2) div:nth-child(6),#team-tasks #this-month > :nth-child(3) div:nth-child(5), #team-tasks #this-month > :nth-child(4) div:nth-child(4), #team-tasks #next-month > :nth-child(2) div:nth-child(5), #team-tasks #next-month > :nth-child(3) div:nth-child(4){
    background-color:#FAAB3F;
  }

  /*This is just for giving the stuck grid cells a red color*/
  #team-tasks #this-month > :nth-child(3) div:nth-child(6),#team-tasks #this-month > :nth-child(4) div:nth-child(5), #team-tasks #next-month > :nth-child(2) div:nth-child(6), #team-tasks #next-month > :nth-child(3) div:nth-child(5) {
    background-color:#E24359;
  }

  /*This is just for giving the blank grid cells a dark grey color*/
  #team-tasks #this-month > :nth-child(4) div:nth-child(6), #team-tasks #next-month > :nth-child(3) div:nth-child(6), #team-tasks #next-month > :nth-child(4) div:nth-child(3), #team-tasks #next-month > :nth-child(4) div:nth-child(4), #team-tasks #next-month > :nth-child(4) div:nth-child(5), #team-tasks #next-month > :nth-child(4) div:nth-child(6) {
    background-color:#C4C4C4;
  }

  /*this give the task cell the light grey color*/
  #team-tasks #this-month > :nth-child(2) > div:first-child, #team-tasks #this-month > :nth-child(3) > div:first-child, #team-tasks #this-month > :nth-child(4) > div:first-child{
    background-color:#66FCF1;
    color:#222;
    border-left:0.5em solid #6BD0FE;
  }
  #team-tasks #next-month > :nth-child(2) > div:first-child, #team-tasks #next-month > :nth-child(3) > div:first-child, #team-tasks #next-month > :nth-child(4) > div:first-child{
    border-left:0.5em solid #B983E4;
    background-color:#F5F6F8;
    color:#222;
  }


  #team-tasks #this-month > :nth-child(2) div:nth-child(2), #team-tasks #this-month > :nth-child(3) div:nth-child(2), #team-tasks #this-month > :nth-child(4) div:nth-child(2), #team-tasks #next-month > :nth-child(2) div:nth-child(2), #team-tasks #next-month > :nth-child(3) div:nth-child(2), #team-tasks #next-month > :nth-child(4) div:nth-child(2){
    background-color:#66FCF1;
    color:#222;
  }

  /*This is to style the last cell*/
  #team-tasks #this-month > :nth-child(2) div:nth-child(8), #team-tasks #this-month > :nth-child(3) div:nth-child(8), #team-tasks #this-month > :nth-child(4) div:nth-child(8), #team-tasks #next-month > :nth-child(2) div:nth-child(8), #team-tasks #next-month > :nth-child(3) div:nth-child(8), #team-tasks #next-month > :nth-child(4) div:nth-child(8){
    background-color:#66FCF1;
  }

  #team-tasks #this-month > :nth-child(2) div:nth-child(7), #team-tasks #this-month > :nth-child(3) div:nth-child(7), #team-tasks #this-month > :nth-child(4) div:nth-child(7), #team-tasks #next-month > :nth-child(2) div:nth-child(7), #team-tasks #next-month > :nth-child(3) div:nth-child(7), #team-tasks #next-month > :nth-child(4) div:nth-child(7){
    background-color:#66FCF1;
  }


  #team-tasks #this-month > :nth-child(2) div:nth-child(3), #team-tasks #this-month > :nth-child(2) div:nth-child(4), #team-tasks #this-month > :nth-child(2) div:nth-child(5),#team-tasks #this-month > :nth-child(2) div:nth-child(6),#team-tasks #this-month > :nth-child(3) div:nth-child(3), #team-tasks #this-month > :nth-child(3) div:nth-child(4),#team-tasks #this-month > :nth-child(3) div:nth-child(5), #team-tasks #this-month > :nth-child(3) div:nth-child(6), #team-tasks #this-month > :nth-child(4) div:nth-child(3),#team-tasks #this-month > :nth-child(4) div:nth-child(4),#team-tasks #this-month > :nth-child(4) div:nth-child(5),#team-tasks #next-month > :nth-child(2) div:nth-child(3), #team-tasks #next-month > :nth-child(2) div:nth-child(4), #team-tasks #next-month > :nth-child(2) div:nth-child(5), #team-tasks #next-month > :nth-child(2) div:nth-child(6),#team-tasks #next-month > :nth-child(3) div:nth-child(3), #team-tasks #next-month > :nth-child(3) div:nth-child(4), #team-tasks #next-month > :nth-child(3) div:nth-child(5){
    text-align:center;
  }

  #team-tasks #this-month > :nth-child(2) div:nth-child(7) :nth-child(1), #team-tasks #this-month > :nth-child(3) div:nth-child(7) :nth-child(1), #team-tasks #this-month > :nth-child(4) div:nth-child(7) :nth-child(1),#team-tasks #next-month > :nth-child(2) div:nth-child(7) :nth-child(1), #team-tasks #next-month > :nth-child(3) div:nth-child(7) :nth-child(1), #team-tasks #next-month > :nth-child(4) div:nth-child(7) :nth-child(1){
    background-color:#C2C2C2;
    border-radius:1em;
    height:1em;
    overflow:hidden;
  }


